# Lesson 23 - Spark SQL

### Introduction

In additional to the DataFrame API that Spark provides for working with structured data, it also provides tools for submitting SQL queries against DataFrames we have created, or against tables we have stored in a database. Spark allows us to switch between these modes of operation seamlessly.

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, expr

spark = SparkSession.builder.getOrCreate()

### Creating Tables

We can register a Spark DataFrame as a temporary table using the `createOrReplaceTempView()` method.

In [0]:
diamonds = (
    spark.read
    .option('delimiter', '\t')
    .option('header', True)
    .schema(
        'carat DOUBLE, cut STRING, color STRING, clarity STRING, depth DOUBLE, '
        'table DOUBLE, price INTEGER, x DOUBLE, y DOUBLE, z DOUBLE'
    )
    .csv('/FileStore/tables/diamonds.txt')
)

diamonds.printSchema()

In the cell below, we check to see what tables are available in the SQL database attached to our cluster.

In [0]:
print(spark.catalog.listTables())

We will now register the `diamonds` DataFrame as a temporary table in the database, and will then submit SQL queries against this table.

In [0]:
diamonds.createOrReplaceTempView('diamonds')
print(spark.catalog.listTables())

### Submitting SQL Commands

We can submit SQL queries using the `sql()` method of the `SparkSession` object. The cell below deletes the table we just created.

In [0]:
spark.sql('DROP TABLE diamonds')
print(spark.catalog.listTables())

We will now add the table back to the database before continuing on.

In [0]:
diamonds.createOrReplaceTempView('diamonds')
print(spark.catalog.listTables())

### SELECT Statements

We can use the SELECT keyword in SQL to select specific columns from a table. The SELECT keyword in SQL behaves similarly to the `select()` DataFrame method. 
Note that the `sql()` method returns a Spark DataFrame, so we will need to use `show()` to display the results.

In [0]:
spark.sql('SELECT * FROM diamonds').show(5)

In [0]:
spark.sql('SELECT carat, cut, color, clarity, price  FROM diamonds').show(5)

SQL provides a few aggregating functions that we can use in SELECT statements. Some examples are `COUNT()`, `SUM()`, `MIN()`, `MAX()`, and `AVG()`.

In [0]:
spark.sql('SELECT COUNT(*) AS num_diamonds FROM diamonds').show()

SQL also has a `ROUND()` function that we can use in our queries.

In [0]:
spark.sql(
    'SELECT COUNT(*) as n,\
            ROUND(AVG(price),2) AS avg_price,\
            ROUND(AVG(carat),2) AS avg_carat\
     FROM diamonds'
).show()

The DISTINCT keyword returns a list of unique values in the specified column.

In [0]:
spark.sql('SELECT DISTINCT cut FROM diamonds').show()

In [0]:
spark.sql('SELECT DISTINCT color FROM diamonds').show()

The cell below shows how to use SQL to count the number of unique values appearing in a particular column. The cell also shows two other ways of performing the same task using DataFrame methods.

In [0]:
spark.sql('SELECT COUNT(DISTINCT cut) AS num_cuts\
           FROM diamonds').show()

#diamonds.select(expr('COUNT(DISTINCT cut) AS num_cuts')).show()

### ORDER BY Clause

We can use the ORDER BY keywork in SQL to sort the rows resulting from a SELECT statement.

In [0]:
spark.sql(
    'SELECT DISTINCT cut\
     FROM diamonds\
     ORDER BY cut DESC'
).show()

### WHERE Clause

The WHERE keyword in SQL can be used to filter rows out of a table. This is similar to the `filter()` DataFrame method. In fact, DataFrames also have a `where()` method that performs exactly the same function as `filter()`.

In [0]:
spark.sql(
    'SELECT COUNT(*) as num_ideal\
     FROM diamonds\
     WHERE cut == "Ideal"'
).show()

#diamonds.filter(expr('cut == "Ideal"')).select(expr('COUNT(*) AS num_ideal')).show()

In [0]:
spark.sql(
    'SELECT count(*) AS num_ideal_e\
     FROM diamonds\
     WHERE cut == "Ideal" AND color == "E"'
).show()

### GROUP BY Clause

We can use the GROUP BY keyword in SQL to perform grouping and aggregations. The aggregating functions are specified in the SELECT statement.

In [0]:
spark.sql(
    'SELECT cut, MEAN(price) as avg_price\
     FROM diamonds\
     GROUP BY cut'
).show()

In [0]:
spark.sql(
    'SELECT cut,\
            COUNT(*) AS N,\
            ROUND(AVG(carat),2) AS avg_carat,\
            ROUND(AVG(price),0) AS avg_price\
     FROM diamonds\
     GROUP BY cut\
     ORDER BY avg_price DESC'
).show()

### User Defined Functions

We can register user defined functions to use in our SQL queries.

In [0]:
def carat_bin(x):
    bins = ['[0,1)', '[1,2)', '[2,3)', '[3,4)', '[4,5)', '[5,6)']
    return bins[int(x)]
 
print(carat_bin(2.1))

In [0]:
spark.udf.register('carat_bin', carat_bin)

spark.sql('SELECT carat, carat_bin(carat) AS carat_bin FROM diamonds ORDER BY carat DESC').show(10)

In [0]:
spark.sql(
    'SELECT carat_bin, count(*) AS N\
     FROM (SELECT carat_bin(carat) AS carat_bin FROM diamonds)\
     GROUP BY carat_bin\
     ORDER BY carat_bin'
).show()